body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #141414;
    font-family: Arial, sans-serif;
  }
  

    .profile-card {
    background-color: #1f1f1f;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 300px;
  }
  
  .profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .name {
    color: #ffffff;
    font-size: 1.5em;
    margin: 10px 0;
  }
  
  .location {
    color: #b4f83c;
    margin: 5px 0;
    font-size: 0.9em;
  }
  
  .bio {
    color: #cccccc;
    font-size: 0.9em;
    margin-bottom: 20px;
  }
  
  .links {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .btn {
    background-color: #333333;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #555555;
  }