#goas{
    text-decoration: underline wavy;
    text-decoration-line: wavy;
    text-decoration-color: chartreuse;
}

#goa {
    text-decoration: underline overline;
    text-decoration-color: red;
}

#gooa{
    text-decoration: line-through;
    text-decoration-style: dashed;
    text-decoration-color: blue;
}