#goa{
    color: darkmagenta;
    background-color: hotpink;
}

.goas{
    color: rgb(rgb(80, 40, 183), rgb(206, 18, 50), blue);
    background-color: rgb(rgb(195, 20, 180), rgb(30, 181, 222), rgb(30, 211, 23));
}