#goa{
    background-color: blue;
    color:chartreuse;

}
#gooa{
    background-color: blue;
    color:chartreuse;
}
#goooa{
    color: darkgreen;
    background-color: slategray;
}
#gooooa{
    color: brown;
    background-color: palegreen;
}