body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
.change{
    font-size: 50px;
    color: aqua;
    animation: color 2s infinite alternate;
}

@keyframes color{
    from{
        color: #0af4ec;
    }
    to{
        color: yellow;
    }
}